{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "singleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cx"],
  "printWidth": 90,
  "tailwindStylesheet": "./src/index.css"
}
